<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDITAR CURSOS</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>
    <%- include('partials/header')%>
    <div class="container">
    <form action="/editarProductos/edit/<%=Producto.id%>" method="POST">
        <h1 class="text-center">EDITAR CURSOS</h1>
        <div class="form-group row text-center">
            <label for="nombre" class="col-sm-2 col-form-label col-form-label-sm">Nombre</label>
            <div class="col-sm-10">
                <input type="text" name="nombre" class="form-control form-control-sm" id="colFormLabelSm" placeholder="" value="<%=Producto.nombre%>">
            </div>
            <br>
        </div>

        <div class="form-group row text-center">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Descripción</label>
            <div class="col-sm-10">
                <input type="text" name="descripcion" class="form-control" id="colFormLabel" placeholder=" " value="<%=Producto.descripcion%>">
            </div>
            <br>
        </div>
        <div class="form-group row text-center">
            <label for="planId" class="col-sm-2 col-form-label col-form-label-lg">PlanId</label>
            <div class="col-sm-10">
                <input type="number" name="PlanId" id="PlanId" class="form-control form-control-lg" placeholder="" value="<%=Producto.planId%>">
            </div>
        </div>
        <br>
        <div class="form-group row text-center">
            <label for="idiomaId" class="col-sm-2 col-form-label col-form-label-lg">IdiomaId</label>
            <div class="col-sm-10">
                <input type="number" name="idiomaId" id="idiomaId" class="form-control form-control-lg" placeholder="" value="<%=Producto.idiomaId%>">
            </div>
        </div>
        <br>
        <div class="form-group row text-center">
            <label for="precio" class="col-sm-2 col-form-label col-form-label-lg">Precio</label>
            <div class="col-sm-10">
                <input type="number" name="precio" id="precio" class="form-control form-control-lg" placeholder="" value="<%=Producto.precio%>">
            </div>
        </div>
        <br>
        <div class="form-group row text-center">
            <label for="categoriaId" class="col-sm-2 col-form-label col-form-label-lg">CategoriaId</label>
            <div class="col-sm-10">
                <input type="number" name="categoriaId" id="categoriaId" class="form-control form-control-lg" placeholder="" value="<%=Producto.categoriaId%>">
            </div>
        </div>
        <br>
        <div class="form-group row text-center">
            <label for="profesorId" class="col-sm-2 col-form-label col-form-label-lg">ProfesorId</label>
            <div class="col-sm-10">
                <input type="number" name="ProfesorId" id="ProfesorId" class="form-control form-control-lg" placeholder="" value="<%=Producto.profesorId%>">
            </div>
        </div>
        <br>

        <input type="submit" id="Crear cuenta" name="submit" placeholder="" class="form-Cuenta btn btn-danger mb-5" value="Cargar">
    </form>
</div>
<%- include('partials/footer') %>
</body>

</html>